<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue Js Crud</title>
	<!-- ALL CSS FILES  -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>


	<div id="root">

		<div class="wrap-table">
			<!-- Add New User Card Start -->

			<div class="card shadow w-50 mb-1">
				<div class="card-body">
					<h1>Add New User</h1>
					<div class="form-group">
						<input v-model="user.name" type="text" class="form-control" placeholder="Name">
					</div>
					<div class="form-group">
						<input v-model="user.email" type="text" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<input v-model="user.cell" type="text" class="form-control" placeholder="Cell">
					</div>
					<div class="form-group">
						<input @click="addNewUser" type="submit" class="btn btn-primary btn-block" value="Add">
					</div>
				</div>
			</div>

			<!-- Add New User Card End -->
			<div class="card shadow">
				<div class="card-body">
					<h2>All Data</h2>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Email</th>
								<th>Cell</th>
								<th>Photo</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>


							<tr v-for="(user, i) in users">
								<td>{{ i+1 }}</td>
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.cell }}</td>
								<td><img src="assets/media/img/pp_photo/img (1).jpg" alt=""></td>
								<td>
									<a class="btn btn-sm btn-info" href="#">View</a>
									<a class="btn btn-sm btn-warning" href="#">Edit</a>
									<a @click="deleteUser(user.id, $event)" class="btn btn-sm btn-danger"
										href="#">Delete</a>
								</td>
							</tr>


						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>








	<!-- JS FILES  -->
	<script src="assets/js/sweetalert2@11.js"></script>
	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/custom.js"></script>

	<!-- Vue Js & Axios Load -->
	<script src="assets/js/axios.min.js"></script>
	<script src="assets/js/vue.js"></script>
	<script src="assets/js/vue-router.js"></script>

	<script>
		const root = new Vue({
			el: ('#root'),
			data: {
				users: [],
				user: {
					name: "",
					email: "",
					cell: ""
				}
			},
			methods: {
				getAllUsers: function () {
					axios.get('inc/user.php?action=read').then(function (response) {
						root.users = response.data;
					});
				},
				addNewUser: function () {
					if (root.user.name == "" || root.user.email == "" || root.user.cell == "") {
						// alert("All Fields are required!");
						Swal.fire('All fields are required!')
					} else {
						axios.post('inc/user.php?action=add', {
							name: root.user.name,
							email: root.user.email,
							cell: root.user.cell,
						}).then(function (response) {
							root.user.name = "";
							root.user.email = "";
							root.user.cell = "";
							root.getAllUsers();
						});
						Swal.fire({
							position: 'top-end',
							icon: 'success',
							title: 'User added successful.',
							showConfirmButton: false,
							timer: 1500
						})
					}
				},
				deleteUser: function (id, event) {
					event.preventDefault();
					Swal.fire({
						title: 'Are you sure?',
						text: "You won't be able to revert this!",
						icon: 'warning',
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Yes, delete it!'
					}).then((result) => {
						if (result.isConfirmed) {
							Swal.fire({
								position: 'top-end',
								icon: 'success',
								title: 'User has been deleted',
								showConfirmButton: false,
								timer: 1500
							});


							axios.get('inc/user.php?action=delete&id=' + id).then(function (response) {
								root.getAllUsers();
							});


						} else {
							Swal.fire('User data safe !');
						}
					})
				}
			},
			created: function () {
				this.getAllUsers();
			}
		});
	</script>
</body>

</html>