<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue Js Crud</title>
	<!-- ALL CSS FILES  -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>


	<div id="root">

		<!-- View single user modal start -->

		<div id="single_user" class="modal fade">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-body">
						<img class="shadow"
							style="width: 200px;height: 200px;border: 10px solid white;border-radius: 50%;display: block;margin: auto;"
							:src="'media/users/' + single_user.photo" alt="">
						<h2 style="text-align: center;">{{ single_user.name }}</h2>
						<table class="table table-hover">
							<tr>
								<td>Name</td>
								<td>{{ single_user.name }}</td>
							</tr>
							<tr>
								<td>Email</td>
								<td>{{ single_user.email }}</td>
							</tr>
							<tr>
								<td>Cell</td>
								<td>{{ single_user.cell }}</td>
							</tr>
						</table>
					</div>

				</div>
			</div>
		</div>

		<!-- View single user modal end -->

		<div class="wrap-table">
			<!-- Add New User Card Start -->

			<div class="card shadow w-50 mb-1">
				<div class="card-body">
					<h1>Add New User</h1>
					<div class="form-group">
						<input v-model="user.name" type="text" class="form-control" placeholder="Name">
					</div>
					<div class="form-group">
						<input v-model="user.email" type="text" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<input v-model="user.cell" type="text" class="form-control" placeholder="Cell">
					</div>
					<div class="form-group">
						<input ref="photo" type="file" class="form-control">
					</div>
					<div class="form-group">
						<input @click="addNewUser" type="submit" class="btn btn-primary btn-block" value="Add">
					</div>
				</div>
			</div>

			<!-- Add New User Card End -->
			<div class="card shadow">
				<div class="card-body">
					<h2>All Data</h2>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Email</th>
								<th>Cell</th>
								<th>Photo</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>


							<tr v-for="(user, i) in users">
								<td>{{ i+1 }}</td>
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.cell }}</td>
								<td><img :src="'media/users/' + user.photo" alt=""></td>
								<td>
									<a @click="singleUser(user.id)" class="btn btn-sm btn-info" data-toggle="modal"
										href="#single_user">View</a>
									<a class="btn btn-sm btn-warning" href="#">Edit</a>
									<a @click="deleteUser(user.id, $event)" class="btn btn-sm btn-danger"
										href="#">Delete</a>
								</td>
							</tr>


						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>








	<!-- JS FILES  -->
	<script src="assets/js/sweetalert2@11.js"></script>
	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/custom.js"></script>

	<!-- Vue Js & Axios Load -->
	<script src="assets/js/axios.min.js"></script>
	<script src="assets/js/vue.js"></script>
	<script src="assets/js/vue-router.js"></script>

	<script>
		const root = new Vue({
			el: ('#root'),
			data: {
				users: [],
				user: {
					name: "",
					email: "",
					cell: "",
					photo: ""
				},
				single_user: {
					name: '',
					email: '',
					cell: '',
					photo: ''
				}
			},
			methods: {

				// Get all users
				getAllUsers: function () {
					axios.get('inc/user.php?action=read').then(function (response) {
						root.users = response.data;
					});
				},

				// Add new user
				addNewUser: function () {
					if (root.user.name == "" || root.user.email == "" || root.user.cell == "") {
						// alert("All Fields are required!");
						Swal.fire('All fields are required!')
					} else {

						root.user.photo = root.$refs.photo.files[0];

						let newUser = new FormData();
						newUser.append('name', this.user.name);
						newUser.append('email', this.user.email);
						newUser.append('cell', this.user.cell);
						newUser.append('photo', this.user.photo);

						axios.post('inc/user.php?action=add', newUser, {
							header: {
								'Content-Type': 'multipart/form-data'
							}
						}).then(function (response) {
							console.log(response.data);
							root.user.name = "";
							root.user.email = "";
							root.user.cell = "";
							root.user.photo = "";
							root.getAllUsers();
						});
						Swal.fire({
							position: 'top-end',
							icon: 'success',
							title: 'User added successful.',
							showConfirmButton: false,
							timer: 1500
						})
					}
				},

				// Delete user 
				deleteUser: function (id, event) {
					event.preventDefault();
					Swal.fire({
						title: 'Are you sure?',
						text: "You won't be able to revert this!",
						icon: 'warning',
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Yes, delete it!'
					}).then((result) => {
						if (result.isConfirmed) {
							Swal.fire({
								position: 'top-end',
								icon: 'success',
								title: 'User has been deleted',
								showConfirmButton: false,
								timer: 1500
							});


							axios.get('inc/user.php?action=delete&id=' + id).then(function (response) {
								root.getAllUsers();
							});


						} else {
							Swal.fire('User data safe !');
						}
					})
				},

				// Single user view
				singleUser: function (id) {
					axios.get('inc/user.php?action=singleUser&id=' + id).then(function (response) {
						console.log(response.data);

						root.single_user.name = response.data.name;
						root.single_user.email = response.data.email;
						root.single_user.cell = response.data.cell;
						root.single_user.photo = response.data.photo;

					});
				}
			},
			created: function () {
				this.getAllUsers();
			}
		});
	</script>
</body>

</html>